{{#extends 'base'}}
{{#block 'content'}}
<form method="POST">
    {{{form}}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <input type="submit" value="update entry" class="btn btn-primary mt-2" />
</form>
{{/block}}
{{/extends}}